footer {
	background: $footer_background;
	color: $footer_color;
	padding: 2rem 0;

	a {
		color: $footer_color;
		font-weight: bold;
	}

	.container {
		padding-bottom: 1em;
		display: grid;
		gap: 2em;

		.links {
			display: grid;
		}
	}

	.copyright {
		padding: 1em 0 0;
		border-top: 1px solid $faded_line;
		text-align: center;
	}
}

@media screen and (min-width: 1024px) {
	footer {
		.container {
			grid-template-columns: 40% 1fr 1fr;
		}
	}
}
