@import "_guest";

.Authentication {
	min-height: 90dvh;
	display: flex;
	align-items: center;

	.remember_me,
	.forgot_password {
		margin: 0 0 0.8em;
	}

	.extras {
		margin: 2em 0 0;
		text-align: center;
	}

	.Login,
	.Signup,
	.ForgotPassword,
	.ResetPassword,
	.VerifyEmail {
		width: 92dvw;
		margin: auto;
		padding: 16px;
	}

	.ForgotPassword,
	.VerifyEmail {
		.header {
			margin: 0 0 2em;
		}
	}

	.VerifyEmail {
		.actions {
			display: grid;
			grid-template-columns: 1fr 1fr;

			form {
				&:last-of-type {
					justify-self: flex-end;
				}
			}
		}
	}
}

.userprofile {
	.custom_form {
		margin: 0 0 3.2em;

		form {
			padding: 16px;
		}
	}
}

@media screen and (min-width: 1024px) {
	.Authentication {
		.Login {
			width: 30dvw;
		}

		.Signup {
			width: 45dvw;
		}

		.ForgotPassword,
		.ResetPassword,
		.VerifyEmail {
			width: 30dvw;
		}
	}
}
